<template>
  <v-app id="inspire">
    <v-app-bar>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-app-bar-title>E-commerce</v-app-bar-title>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" temporary>
      <v-sheet
        color="grey-lighten-4"
        class="pa-4"
        v-if="keycloak.authenticated"
      >
        <v-avatar class="mb-4" color="grey-darken-1" size="64"></v-avatar>

        <div>Bienvenue {{ userName }} ({{ userEmail }})</div>
      </v-sheet>
      <v-sheet>
        <v-list-item
          v-if="keycloak.authenticated"
          link
          @click="keycloak.logout()"
        >
          <v-list-item-icon>
            <v-icon>mdi-logout</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item v-else link @click="keycloak.login()">
          <v-list-item-icon>
            <v-icon>mdi-login</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Login</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-sheet>

      <v-divider></v-divider>

      <v-list v-if="keycloak.authenticated">
        <v-list-item
          v-for="[icon, text] in links"
          :key="icon"
          :prepend-icon="icon"
          :title="text"
          link
          @click="text === 'Settings' ? redirectToChangePassword() : null"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main class="bg-grey-lighten-2">
      <v-container>
        <div v-if="keycloak.authenticated">
          Les produits
          <v-btn v-if="isAdmin" @click="dialog = true">Ajouter</v-btn><br />
          <v-divider class="mt-2"></v-divider>
          <v-card v-if="produits.length == 0">Aucun produit</v-card>
          <div v-else>
            <v-card v-for="produit in produits" :key="produit.id" class="mt-4">
              <v-card-title
                >{{ produit.name }} - {{ produit.price }}€</v-card-title
              >
              <v-card-text
                >{{ produit.description }} - {{ produit.quantity }} encore
                disponible</v-card-text
              >
              <v-card-actions>
                <v-btn :disabled="produit.quantity == 0" @click="commanderProduit(produit.id)">Commander</v-btn>
                <v-btn v-if="isAdmin">Modifier</v-btn>
                <v-btn v-if="isAdmin" @click="deleteProduit(produit.id)"
                  >Supprimer</v-btn
                >
              </v-card-actions>
            </v-card>
            <v-dialog v-model="dialogBar" persistent width="1024">
              <v-card>
                <v-progress-linear
              
              :model-value="progressBar"
              color="light-green-darken-4"
              height="10"
              striped
            ></v-progress-linear>
            <p class="text-center">{{ message }}</p>
              </v-card>
              
            </v-dialog>
            
          </div>

          <v-dialog v-model="dialog" persistent width="1024">
            <v-card>
              <v-card-title>
                <span class="text-h5">Nouveau Produit</span>
              </v-card-title>
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        label="Nom*"
                        required
                        v-model="name"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        type="number"
                        label="Prix*"
                        required
                        v-model="price"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        label="Description*"
                        required
                        v-model="description"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        type="number"
                        label="Quantité*"
                        required
                        v-model="quantity"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="blue-darken-1"
                  variant="text"
                  @click="dialog = false"
                >
                  Fermer
                </v-btn>
                <v-btn
                  color="blue-darken-1"
                  variant="text"
                  @click="saveProduit"
                >
                  Sauvegarder
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <div v-if="isAdmin">
            Voici les commandes faites
            <v-card v-if="commandes.length == 0">Aucune commande</v-card>
            <div v-else>
              <v-card
                v-for="commande in commandes"
                :key="commande.id"
                class="mt-4"
              >
                <v-card-title
                  >{{ commande.name }} -
                  {{ getProductNameById(commande.productId) }}</v-card-title
                >
              </v-card>
            </div>

            Les logs commande
            <v-card v-if="logs.length == 0">Aucun log</v-card>
            <div v-else>
              <v-card v-for="log in logs" :key="log.id" class="mt-4">
                <v-card-title
                  >{{ log.date }} - {{ getMessage(log.message) }}</v-card-title
                >
              </v-card>
            </div>
          </div>
        </div>
        <div v-else>Vous devez vous connecter pour voir les produits.</div>
      </v-container>
    </v-main>
  </v-app>
</template>

<script setup>
import { ref, onMounted } from "vue";
import keycloak from "../main.js"; // Assurez-vous d'importer correctement Keycloak
import axios from "axios";
import { io } from "socket.io-client";
import Swal from "sweetalert2";

const drawer = ref(null);
const userName = ref("");
const userEmail = ref("");
const isAdmin = ref(false);
const links = [["mdi-alert-octagon", "Settings"]];
const produits = ref([]);
const commandes = ref([]);
const logs = ref([]);
const dialog = ref(false);

const name = ref("");
const price = ref("");
const description = ref("");
const quantity = ref("");

const progressBar = ref(0);
const message = ref("");
const dialogBar = ref(false);

const socket = io("http://localhost:3001");

socket.on("connect", () => {
  console.log("Socket connected");
});

socket.on("commande", (data) => {
  progressBar.value = data.progress;
  message.value = data.message;
});
// Mettez à jour les données de l'utilisateur lorsqu'il est authentifié
onMounted(() => {
  if (keycloak.authenticated) {
    // L'utilisateur est authentifié, accédez à ses informations
    userName.value =
      keycloak.idTokenParsed.given_name +
      " " +
      keycloak.idTokenParsed.family_name;
    userEmail.value = keycloak.idTokenParsed.email;

    isAdmin.value =
      keycloak.tokenParsed.realm_access.roles.includes("app_admin");
  }

  getProduits();
  getCommandes();
  getLogs();
});

const redirectToChangePassword = () => {
  keycloak.accountManagement();
};

const getProduits = () => {
  axios
    .get("http://localhost:3001/api/produits")
    .then((response) => {
      produits.value = response.data;
    })
    .catch((error) => {
      console.log(error);
    });
};

const saveProduit = () => {
  axios
    .post("http://localhost:3001/api/produits", {
      name: name.value,
      price: price.value,
      description: description.value,
      quantity: quantity.value,
    })
    .then((response) => {
      dialog.value = false;
      getProduits();
    })
    .catch((error) => {
      console.log(error);
    });
};

const deleteProduit = (id) => {
  axios
    .delete("http://localhost:3001/api/produits/" + id)
    .then((response) => {
      getProduits();
    })
    .catch((error) => {
      console.log(error);
    });
};

const commanderProduit = (id) => {
  Swal.fire({
    title: "Êtes-vous sûr de vouloir commander ce produit ?",
    icon: "info",
    showCancelButton: true,
    confirmButtonText: "Oui, commander !",
    cancelButtonText: "Annuler",
  }).then((result) => {
    if (result.isDismissed) return;
    dialogBar.value = true;
  axios
    .post("http://localhost:3001/api/commandes", {
      name: userName.value,
      productId: id,
      email: userEmail.value,
    })
    .then((response) => {
      setTimeout(() => {
        progressBar.value = 0;
        message.value = "";
        dialogBar.value = false;
        Swal.fire({
          title: "Commande validé !",
              icon: "success",
          })
      }, 2000);
      getProduits();
    })
    .catch((error) => {
      console.log();
      alert(error.response.data.message);
    });

  });  
};

const getCommandes = () => {
  axios
    .get("http://localhost:3001/api/commandes")
    .then((response) => {
      commandes.value = response.data;
    })
    .catch((error) => {
      console.log(error);
    });
};

const getProductNameById = (productId) => {
  const produit = produits.value.find((p) => p.id === productId);
  return produit ? produit.name : "Produit introuvable";
};

const getLogs = () => {
  axios
    .get("http://localhost:3001/api/logs?channel=commande")
    .then((response) => {
      logs.value = response.data;
    })
    .catch((error) => {
      console.log(error);
    });
};

const getMessage = (message) => {
  const messageJson = JSON.parse(message);

  return (
    "L'utilisateur " +
    messageJson.email +
    " a commandé le produit " +
    messageJson.product +
    ""
  );
};
</script>



